:root{
  /* display: flex; */
  background-color: rgb(226, 131, 43);
}

/* #root{
  margin: 0 auto;
} */

body{
  display: flex;
  font-family: 'Poppins', sans-serif;

  justify-content: center;
  align-items: center;
  /* margin: 0; */
  background-color: crimson;
  min-height: 100vh;
}

.container {
  width: 550px;
  /* margin: 0 auto; */
  padding: 15px; 
  background-color: blue;
}

.bold{
  font-weight: bold;
}

nav {
  /* width: 550px;
height: 70px; */

  background: aquamarine;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

nav>img{
  width: 10%;
  padding: 20px;
  /* width: fit-content; */
}

.hero--{
  display: grid;
  padding: 20px;
  background: blueviolet;
}

.hero-->img{
  width: 395.91px;
height: 232px;
  justify-self: center;
  background-color: chartreuse;
}

.hero-->h1{

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;

background: burlywood;
}

.hero-->p{
  width: 320px;
height: 56px;
  font-family: 'Poppins';
/* font-style: normal; */
font-weight: 600;
font-size: 16px;
  background-color:brown ;
}

.card {
  /* margin: 10px; */
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background-color: darkgreen;
  font-size: 12px;
}

.card>img{
  width: 176px;
height: 235px;
  border-radius: 9px;
}

.stats--group{
  display: flex;
  align-items: center;
  font-family: 'Poppins';
  
  background-color: gold;
}

.rating{
  font-size: 12px;
}

.views{
  color: #918E9B
}

.cards--container{
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;


  background-color: darkkhaki;
}

.card--badge{
  position: absolute;
  /* margin: 10px; */
  top: 6px;
  left: 6px;
  padding: 5px 7px;
  font-weight: bold;
  border-radius: 1%;
  background-color: bisque;
}
